Repository luizxsoto/checkout-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{json,yml,md}": "prettier --write"
}

feat: create customer use case and related contracts
  .eslintrc.json
  src/customers/data/repositories/customer/create.ts
  src/customers/data/repositories/index.ts
  src/customers/data/use-cases/customer/db-create.ts
  src/customers/data/use-cases/index.ts
  src/customers/domain/models/customer/model.ts
  src/customers/domain/models/index.ts
  src/customers/domain/use-cases/customer/create.ts
  src/customers/domain/use-cases/index.ts
  src/shared/models/base.model.ts
  src/shared/models/index.ts
Due: eslint --fix, prettier --write

chore: add tsconfig-paths and tscpaths
  package.json
Due: prettier --write

chore: add knex
  .env.example
  database/helpers.ts
  database/knexfile.ts
  package.json
Due: eslint --fix, prettier --write

feat: add customer migration
  database/migrations/20220207092413_create_customers_table.ts
Due: eslint --fix

chore: upgrade packege lock
  package-lock.json
Due: prettier --write

refactor: move files folder
  src/customers/data/contracts/repositories/customer/create.ts
  src/customers/data/contracts/repositories/index.ts
  src/customers/data/use-cases/customer/db-create.ts
  src/customers/domain/models/customer.ts
  src/customers/domain/models/index.ts
Due: eslint --fix

feat: knex base repository and related
  src/shared/contracts/services/generate-unique-id.ts
  src/shared/contracts/services/index.ts
  src/shared/exceptions/application.ts
  src/shared/exceptions/database.ts
  src/shared/exceptions/index.ts
  src/shared/models/base.ts
  src/shared/models/index.ts
  src/shared/repositories/index.ts
  src/shared/repositories/knex-base.ts
  src/shared/services/uuid.ts
Due: eslint --fix

feat: customer create repository
  src/customers/data/contracts/repositories/customer/create.ts
  src/customers/domain/use-cases/customer/create.ts
  src/customers/infra/repositories/index.ts
  src/customers/infra/repositories/knex/customer.ts
Due: eslint --fix

fix: eslint import order
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

fix: "|" instead of "&"
  src/customers/data/contracts/repositories/customer/create.ts
  src/customers/domain/use-cases/customer/create.ts
  src/shared/repositories/knex-base.ts
Due: eslint --fix

feat: shared controller
  src/shared/contracts/presentation/controller.ts
  src/shared/contracts/presentation/http.ts
  src/shared/contracts/presentation/index.ts
  src/shared/helpers/http-helper.ts
  src/shared/helpers/index.ts
Due: eslint --fix

feat: create customer controller
  src/customers/presentation/controllers/customer/create.ts
  src/customers/presentation/controllers/index.ts
  src/customers/presentation/dtos/customer/create.ts
  src/customers/presentation/dtos/index.ts
Due: eslint --fix

feat: adjust knex file and imports
  database/knexfile.ts
  src/customers/main/config/index.ts
  src/customers/main/config/knex.ts
  src/shared/contracts/presentation/controller.ts
  src/shared/services/index.ts
Due: eslint --fix

feat: create customer controller and use case factories
  src/customers/main/factories/controllers/customer/create.ts
  src/customers/main/factories/controllers/index.ts
  src/customers/main/factories/use-cases/customer/create.ts
  src/customers/main/factories/use-cases/index.ts
Due: eslint --fix

refactor: move config folder to shared
  src/customers/main/factories/use-cases/customer/create.ts
  src/shared/config/index.ts
  src/shared/config/knex.ts
Due: eslint --fix

refactor: use env file instead of process env
  .env.example
  database/knexfile.ts
  src/shared/config/env.ts
  src/shared/config/index.ts
  src/shared/config/knex.ts
  src/shared/exceptions/database.ts
Due: eslint --fix

feat: setup customer routes
  src/customers/main/routes/customer.ts
  src/customers/main/routes/index.ts
  src/routes.ts
  src/shared/adapters/express-route-adapter.ts
  src/shared/adapters/index.ts
Due: eslint --fix

chore: add express
  package-lock.json
  package.json
Due: prettier --write

feat: setup server
  src/app.ts
  src/server.ts
Due: eslint --fix

feat: express middlewares
  src/app.ts
  src/middlewares.ts
  src/server.ts
  src/shared/adapters/express-route-adapter.ts
  src/shared/middlewares/body-parser.ts
  src/shared/middlewares/content-type.ts
  src/shared/middlewares/cors.ts
  src/shared/middlewares/index.ts
  src/shared/middlewares/no-cache.ts
Due: eslint --fix

feat: internal exception
  src/shared/config/env.ts
  src/shared/exceptions/application.ts
  src/shared/exceptions/database.ts
  src/shared/exceptions/index.ts
  src/shared/exceptions/internal.ts
  src/shared/helpers/http-helper.ts
Due: eslint --fix

chore: add crypto
  package-lock.json
  package.json
  src/shared/services/uuid.ts
Due: eslint --fix, prettier --write

feat: make unique email migration
  database/migrations/20220207092413_create_customers_table.ts
Due: eslint --fix

fix: adjust tests
  src/server.ts
  tests/server.spec.ts
  tests/server.test.ts
Due: eslint --fix

feat: remove unique email from database migration
  database/migrations/20220207092413_create_customers_table.ts
Due: eslint --fix

fix: env config
  database/knexfile.ts
  src/main/config/env.ts
Due: eslint --fix

feat: adjust exceptions props
  src/infra/exceptions/database.ts
  src/infra/exceptions/index.ts
  src/infra/exceptions/validation.ts
  src/main/exceptions/application.ts
  src/main/exceptions/internal.ts
Due: eslint --fix

feat: find by customer repository
  src/data/contracts/repositories/customer/create.ts
  src/data/contracts/repositories/customer/find-by.ts
  src/data/contracts/repositories/index.ts
  src/infra/repositories/knex/base.ts
  src/infra/repositories/knex/customer.ts
Due: eslint --fix

refactor: function instead of const
  src/main/adapters/express-route-adapter.ts
  src/main/middlewares/content-type.ts
  src/main/middlewares/cors.ts
  src/main/middlewares/no-cache.ts
  src/presentation/helpers/http-helper.ts
Due: eslint --fix

feat: create customer validator
  src/data/contracts/validators/base-validator.ts
  src/data/contracts/validators/customer/create.ts
  src/data/contracts/validators/index.ts
  src/infra/validators/index.ts
  src/infra/validators/vanilla/customer/create.ts
Due: eslint --fix

feat: ensure validate create customer request
  src/data/use-cases/customer/db-create.ts
  src/domain/use-cases/customer/create.ts
  src/main/factories/use-cases/customer/create.ts
Due: eslint --fix

chore: add node and port envs
  .env.example
Due: none

chore: module alias instead of tsc-paths
  database/knexfile.ts
  package.json
  src/main/server.ts
Due: eslint --fix, prettier --write

chore: docker and compose with nodemon
  .dockerignore
  .env.example
  Dockerfile
  docker-compose.yml
  nodemon.json
  package-lock.json
  package.json
  src/main/config/env.ts
Due: eslint --fix, prettier --write

feat: validator service instead of customer specific service
  src/data/contracts/services/generate-unique-id.ts
  src/data/contracts/services/index.ts
  src/data/contracts/services/validator.ts
  src/data/contracts/validators/base-validator.ts
  src/data/contracts/validators/customer/create.ts
  src/data/contracts/validators/index.ts
  src/data/use-cases/customer/db-create.ts
  src/infra/repositories/knex/base.ts
  src/infra/repositories/knex/customer.ts
  src/infra/services/uuid.ts
  src/infra/services/validator.ts
  src/infra/validators/index.ts
  src/infra/validators/vanilla/customer/create.ts
  src/main/factories/use-cases/customer/create.ts
Due: eslint --fix

refactor: use error code as number enum
  .eslintrc.json
  src/infra/exceptions/database.ts
  src/infra/exceptions/validation.ts
  src/main/exceptions/application.ts
  src/main/exceptions/internal.ts
  src/presentation/helpers/http-helper.ts
Due: eslint --fix, prettier --write

refactor: rule instead of validation
  src/infra/exceptions/validation.ts
  src/infra/services/validator.ts
Due: eslint --fix

feat: ts-node instead of nodemon and adjust module alias
  Dockerfile
  database/knexfile.ts
  docker-compose.yml
  nodemon.json
  package-lock.json
  package.json
  src/main/config/module-alias.ts
  src/main/config/routes.ts
  src/main/server.ts
  todos.md
Due: eslint --fix, prettier --write

feat: improve validation
  docker-compose.yml
  src/data/contracts/services/validator.ts
  src/data/use-cases/customer/db-create.ts
  src/infra/services/validator.ts
  src/main/exceptions/application.ts
Due: eslint --fix, prettier --write
