Repository luizxsoto/checkout-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{json,yml,md}": "prettier --write"
}

feat: ensure hash user password before db save
  src/data/contracts/cryptography/hasher.ts
  src/data/contracts/cryptography/index.ts
  src/data/use-cases/user/db-create.ts
  src/data/use-cases/user/db-update.ts
  src/infra/cryptography/bcrypt.ts
  src/infra/cryptography/index.ts
  src/main/factories/use-cases/user/create.ts
  src/main/factories/use-cases/user/update.ts
  tests/data/stubs/cryptography/hasher.ts
  tests/data/stubs/cryptography/index.ts
  tests/data/stubs/services/index.ts
  tests/data/stubs/services/uuid.ts
  tests/data/use-cases/customer/db-create.spec.ts
  tests/data/use-cases/customer/db-list.spec.ts
  tests/data/use-cases/customer/db-update.spec.ts
  tests/data/use-cases/user/db-create.spec.ts
  tests/data/use-cases/user/db-list.spec.ts
  tests/data/use-cases/user/db-update.spec.ts
  tests/infra/repositories/knex/base.spec.ts
  tests/infra/repositories/knex/customer.spec.ts
  tests/infra/repositories/knex/user.spec.ts
Due: eslint --fix

refactor: remove unused username field
  database/migrations/20220518120801_create_users_table.ts
  src/data/contracts/services/validator.ts
  src/data/use-cases/user/db-create.ts
  src/data/use-cases/user/db-list.ts
  src/data/use-cases/user/db-update.ts
  src/domain/models/user.ts
  src/infra/services/validator.ts
  src/presentation/dtos/user/create.ts
  src/presentation/dtos/user/list.ts
  tests/data/stubs/services/validator.ts
  tests/data/use-cases/user/db-create.spec.ts
  tests/data/use-cases/user/db-list.spec.ts
  tests/data/use-cases/user/db-update.spec.ts
  tests/domain/mocks/models/user.ts
  tests/infra/repositories/knex/user.spec.ts
  tests/infra/services/validator.spec.ts
  tests/main/routes/user.test.ts
Due: eslint --fix

feat: ensure create session and return correct values
  src/data/contracts/cryptography/encrypter.ts
  src/data/contracts/cryptography/hash-comparer.ts
  src/data/contracts/cryptography/index.ts
  src/data/contracts/services/validator.ts
  src/data/use-cases/index.ts
  src/data/use-cases/session/db-create.ts
  src/domain/use-cases/index.ts
  src/domain/use-cases/session/create.ts
  src/infra/cryptography/bcrypt.ts
  src/infra/cryptography/index.ts
  src/infra/cryptography/jwt.ts
  src/infra/services/validator.ts
  src/main/config/env.ts
  src/main/factories/controllers/index.ts
  src/main/factories/controllers/session/create.ts
  src/main/factories/use-cases/index.ts
  src/main/factories/use-cases/session/create.ts
  src/main/routes/index.ts
  src/main/routes/session.ts
  src/presentation/controllers/index.ts
  src/presentation/controllers/session/create.ts
  src/presentation/dtos/index.ts
  src/presentation/dtos/session/create.ts
Due: eslint --fix

chore: add jsonwebtoken
  package-lock.json
  package.json
Due: prettier --write

chore: add jwt env
  .env.example
  .env.test
Due: none

test: ensure throw if custom validation returns false
  tests/data/stubs/services/validator.ts
  tests/infra/services/validator.spec.ts
Due: eslint --fix

test: fix validations
  tests/data/use-cases/customer/db-create.spec.ts
  tests/data/use-cases/customer/db-list.spec.ts
  tests/data/use-cases/customer/db-remove.spec.ts
  tests/data/use-cases/customer/db-show.spec.ts
  tests/data/use-cases/customer/db-update.spec.ts
  tests/data/use-cases/user/db-remove.spec.ts
  tests/data/use-cases/user/db-show.spec.ts
  tests/data/use-cases/user/db-update.spec.ts
Due: eslint --fix

test: ensure create session and return correct values
  tests/data/stubs/cryptography/encrypter.ts
  tests/data/stubs/cryptography/hash-compare.ts
  tests/data/stubs/cryptography/hasher.ts
  tests/data/stubs/cryptography/index.ts
  tests/data/use-cases/session/db-create.spec.ts
  tests/infra/cryptography/bcrypt-adapter.spec.ts
  tests/infra/cryptography/jwt-adapter.spec.ts
  tests/main/routes/session.test.ts
  tests/presentation/controllers/session/create.spec.ts
  tests/presentation/stubs/use-cases/index.ts
  tests/presentation/stubs/use-cases/session.ts
Due: eslint --fix

test: ensure validate bearer token as middleware
  tests/data/stubs/services/validator.ts
  tests/data/use-cases/customer/db-create.spec.ts
  tests/data/use-cases/customer/db-list.spec.ts
  tests/data/use-cases/customer/db-remove.spec.ts
  tests/data/use-cases/customer/db-show.spec.ts
  tests/data/use-cases/customer/db-update.spec.ts
  tests/data/use-cases/session/db-create.spec.ts
  tests/data/use-cases/user/db-create.spec.ts
  tests/data/use-cases/user/db-list.spec.ts
  tests/data/use-cases/user/db-remove.spec.ts
  tests/data/use-cases/user/db-show.spec.ts
  tests/data/use-cases/user/db-update.spec.ts
  tests/domain/mocks/models/index.ts
  tests/domain/mocks/models/session.ts
  tests/domain/mocks/models/user.ts
  tests/infra/cryptography/bcrypt.spec.ts
  tests/infra/cryptography/jwt-adapter.spec.ts
  tests/infra/cryptography/jwt.spec.ts
  tests/infra/repositories/knex/base.spec.ts
  tests/infra/repositories/knex/user.spec.ts
  tests/infra/services/validator.spec.ts
  tests/main/adapters/express-middleware.test.ts
  tests/main/adapters/express-route.test.ts
  tests/main/routes/customer.test.ts
  tests/main/routes/session.test.ts
  tests/main/routes/user.test.ts
  tests/presentation/controllers/session/create.spec.ts
  tests/presentation/helpers/http-helper.spec.ts
  tests/presentation/middlewares/auth.spec.ts
  tests/presentation/stubs/cryptography/decrypter.ts
  tests/presentation/stubs/cryptography/index.ts
  tests/presentation/stubs/use-cases/session.ts
Due: eslint --fix

refactor: remove roles from filters
  src/data/contracts/repositories/user/find-by.ts
  src/data/contracts/repositories/user/list.ts
  src/data/contracts/repositories/user/update.ts
  src/infra/repositories/knex/user.ts
  src/main/adapters/express-middleware.ts
  tests/presentation/middlewares/auth.spec.ts
Due: eslint --fix

fix: improve undefined validations check
  src/infra/services/validator.ts
  tests/data/stubs/services/validator.ts
Due: eslint --fix

fix: only filter email is was informed
  src/data/use-cases/customer/db-update.ts
  src/data/use-cases/user/db-update.ts
Due: eslint --fix

chore: add preknex script
  package.json
Due: prettier --write

fix: roles type
  src/domain/models/session.ts
Due: eslint --fix

feat: add insert users migration
  database/migrations/20220518120802_insert_users.ts
Due: eslint --fix

fix: broken tests
  tests/infra/repositories/knex/user.spec.ts
  tests/main/routes/customer.test.ts
  tests/main/routes/session.test.ts
  tests/main/routes/user.test.ts
Due: eslint --fix

fix: types
  src/infra/repositories/knex/base.ts
  src/infra/repositories/knex/user.ts
Due: eslint --fix

feat: ensure catch global exceptions by interceptor
  src/main/adapters/express-middleware.ts
  src/main/adapters/express-route.ts
  src/main/config/app.ts
  src/main/config/index.ts
  src/main/config/interceptors.ts
  src/main/interceptors/exception.ts
  src/main/interceptors/index.ts
Due: eslint --fix

test: ensure catch global exceptions by interceptor
  tests/main/adapters/express-middleware.test.ts
  tests/main/adapters/express-route.test.ts
  tests/main/config/app.test.ts
  tests/main/config/interceptors.test.ts
  tests/main/interceptors/exception.test.ts
Due: eslint --fix

feat: ensure validate roles array
  README.md
  src/data/contracts/services/validator.ts
  src/data/use-cases/user/db-create.ts
  src/data/use-cases/user/db-update.ts
  src/infra/services/validator.ts
Due: eslint --fix, prettier --write

test: ensure validate roles array
  tests/data/stubs/services/validator.ts
  tests/data/use-cases/user/db-create.spec.ts
  tests/data/use-cases/user/db-update.spec.ts
  tests/domain/mocks/models/session.ts
  tests/domain/mocks/models/user.ts
  tests/infra/repositories/knex/user.spec.ts
  tests/infra/services/validator.spec.ts
  tests/main/routes/session.test.ts
  tests/main/routes/user.test.ts
Due: eslint --fix

chore: add lodash.get
  package-lock.json
  package.json
Due: prettier --write

refactor: validatorService instead of validator
  src/data/use-cases/customer/db-create.ts
  src/data/use-cases/customer/db-list.ts
  src/data/use-cases/customer/db-remove.ts
  src/data/use-cases/customer/db-show.ts
  src/data/use-cases/customer/db-update.ts
  src/data/use-cases/session/db-create.ts
  src/data/use-cases/user/db-create.ts
  src/data/use-cases/user/db-remove.ts
  src/data/use-cases/user/db-show.ts
  src/data/use-cases/user/db-update.ts
Due: eslint --fix

chore: setup docker debug
  .vscode/launch.json
  docker-compose.yml
Due: prettier --write

feat: ensure validate object
  src/data/contracts/services/validator.ts
  src/infra/services/validator.ts
Due: eslint --fix

test: ensure validate object
  tests/data/stubs/services/validator.ts
  tests/infra/services/validator.spec.ts
Due: eslint --fix

feat: ensure validate list filters
  README.md
  src/data/contracts/repositories/customer/list.ts
  src/data/contracts/repositories/user/list.ts
  src/data/contracts/services/validator.ts
  src/data/use-cases/customer/db-list.ts
  src/data/use-cases/user/db-list.ts
  src/domain/use-cases/customer/list.ts
  src/domain/use-cases/user/list.ts
  src/infra/repositories/knex/base.ts
  src/infra/services/validator.ts
  src/presentation/dtos/customer/list.ts
  src/presentation/dtos/user/list.ts
Due: eslint --fix, prettier --write

test: ensure validate list filters
  tests/data/stubs/services/validator.ts
  tests/data/use-cases/customer/db-list.spec.ts
  tests/data/use-cases/user/db-list.spec.ts
  tests/infra/repositories/knex/base.spec.ts
  tests/infra/services/validator.spec.ts
  tests/infra/stubs/knex.ts
  tests/main/routes/customer.test.ts
  tests/main/routes/user.test.ts
  tests/presentation/controllers/customer/list.spec.ts
  tests/presentation/controllers/user/list.spec.ts
Due: eslint --fix

feat: ensure normalize string in knex cointains
  src/infra/repositories/knex/base.ts
Due: eslint --fix

feat: ensure save createUserId
  database/helpers.ts
  database/migrations/20220207092413_create_users_table.ts
  database/migrations/20220518120801_create_customers_table.ts
  database/migrations/20220518120802_insert_users.ts
  src/data/contracts/repositories/customer/update.ts
  src/data/contracts/repositories/user/update.ts
  src/data/use-cases/customer/db-create.ts
  src/data/use-cases/customer/db-list.ts
  src/data/use-cases/session/db-create.ts
  src/data/use-cases/user/db-create.ts
  src/data/use-cases/user/db-list.ts
  src/domain/models/base.ts
  src/domain/models/session.ts
  src/domain/use-cases/customer/create.ts
  src/domain/use-cases/customer/update.ts
  src/domain/use-cases/user/create.ts
  src/domain/use-cases/user/update.ts
  src/infra/repositories/knex/base.ts
  src/infra/repositories/knex/user.ts
  src/main/adapters/express-route.ts
  src/main/config/custom-modules.d.ts
  src/main/factories/controllers/customer/create.ts
  src/main/factories/controllers/user/create.ts
  src/main/factories/use-cases/customer/create.ts
  src/main/factories/use-cases/user/create.ts
  src/presentation/middlewares/auth.ts
Due: eslint --fix

test: ensure save createUserId
  tests/data/use-cases/customer/db-create.spec.ts
  tests/data/use-cases/customer/db-list.spec.ts
  tests/data/use-cases/session/db-create.spec.ts
  tests/data/use-cases/user/db-create.spec.ts
  tests/data/use-cases/user/db-list.spec.ts
  tests/domain/mocks/models/base.ts
  tests/domain/mocks/models/customer.ts
  tests/domain/mocks/models/session.ts
  tests/domain/mocks/models/user.ts
  tests/infra/repositories/knex/base.spec.ts
  tests/infra/repositories/knex/customer.spec.ts
  tests/infra/repositories/knex/user.spec.ts
  tests/main/adapters/express-route.test.ts
  tests/main/routes/customer.test.ts
  tests/main/routes/session.test.ts
  tests/main/routes/user.test.ts
  tests/presentation/middlewares/auth.spec.ts
Due: eslint --fix

chore: ignore collectCoverageFrom d.ts files
  jest.config.ts
Due: eslint --fix

feat: ensure throw if the value should be a valid date, but is not
  src/data/contracts/services/validator.ts
  src/infra/services/validator.ts
Due: eslint --fix

test: ensure throw if the value should be a valid date, but is not
  tests/data/stubs/services/validator.ts
  tests/infra/services/validator.spec.ts
Due: eslint --fix

chore: adjust readme
  README.md
Due: prettier --write

chore: upgrade libs
  package-lock.json
  package.json
Due: prettier --write

feat: ensure validate createdAt and updatedAt
  README.md
  src/data/use-cases/customer/db-list.ts
  src/data/use-cases/user/db-list.ts
  tests/data/use-cases/customer/db-list.spec.ts
  tests/data/use-cases/user/db-list.spec.ts
  tests/main/routes/customer.test.ts
  tests/main/routes/user.test.ts
Due: eslint --fix, prettier --write

feat: user toMatch instead of toBeDefined for generated id on create
  README.md
  tests/main/routes/customer.test.ts
  tests/main/routes/user.test.ts
Due: eslint --fix, prettier --write

feat: ensure save updateUserId column
  database/helpers.ts
  database/migrations/20220518120802_insert_users.ts
  src/data/contracts/repositories/customer/create.ts
  src/data/contracts/repositories/user/create.ts
  src/data/use-cases/customer/db-list.ts
  src/data/use-cases/customer/db-update.ts
  src/data/use-cases/user/db-list.ts
  src/data/use-cases/user/db-update.ts
  src/domain/models/base.ts
  src/domain/use-cases/customer/create.ts
  src/domain/use-cases/customer/update.ts
  src/domain/use-cases/user/create.ts
  src/domain/use-cases/user/update.ts
  src/infra/repositories/knex/base.ts
  src/infra/repositories/knex/user.ts
  src/main/factories/controllers/customer/update.ts
  src/main/factories/controllers/user/update.ts
  src/main/factories/use-cases/customer/update.ts
  src/main/factories/use-cases/user/update.ts
Due: eslint --fix
