Repository luizxsoto/checkout-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test: ensure update customer and return correct values
  tests/data/stubs/repositories/customer.ts
  tests/data/use-cases/customer/db-update.spec.ts
Due: eslint --fix

test: ensure throw ValidationException for every customer invalid prop
  tests/data/use-cases/customer/db-update.spec.ts
Due: eslint --fix

fix: generic types
  src/main/factories/use-cases/customer/update.ts
Due: eslint --fix

test: ensure update customer and return correct values
  tests/infra/repositories/knex/customer.spec.ts
Due: eslint --fix

test: ensure update customer and return correct values
  src/infra/repositories/knex/base.ts
  tests/main/routes/customer.test.ts
Due: eslint --fix

test: ensure update customer and return correct values
  README.md
  tests/presentation/controllers/customer/update.spec.ts
  tests/presentation/stubs/use-cases/customer.ts
Due: eslint --fix, prettier --write

test: ensure validate if repository result is a number
  tests/infra/repositories/knex/base.spec.ts
Due: eslint --fix

chore: adjust pre test cov script
  package.json
Due: prettier --write

refactor: validation in steps
  src/data/contracts/services/validator.ts
  src/data/use-cases/customer/db-create.ts
  src/data/use-cases/customer/db-update.ts
  src/infra/services/validator.ts
  src/main/factories/use-cases/customer/create.ts
  src/main/factories/use-cases/customer/update.ts
  tests/data/stubs/services/validator.ts
  tests/data/use-cases/customer/db-create.spec.ts
  tests/data/use-cases/customer/db-update.spec.ts
  tests/infra/services/validator.spec.ts
Due: eslint --fix

feat: ensure remove customer and return correct values
  src/data/contracts/repositories/customer/remove.ts
  src/data/contracts/repositories/index.ts
  src/data/use-cases/customer/db-remove.ts
  src/data/use-cases/customer/db-update.ts
  src/data/use-cases/index.ts
  src/domain/use-cases/customer/remove.ts
  src/domain/use-cases/index.ts
  src/infra/repositories/knex/customer.ts
  src/main/factories/controllers/customer/remove.ts
  src/main/factories/controllers/index.ts
  src/main/factories/use-cases/customer/remove.ts
  src/main/factories/use-cases/index.ts
  src/main/routes/customer.ts
  src/presentation/controllers/customer/remove.ts
  src/presentation/controllers/index.ts
  src/presentation/dtos/customer/remove.ts
  src/presentation/dtos/index.ts
Due: eslint --fix

fix: update test
  tests/data/use-cases/customer/db-update.spec.ts
Due: eslint --fix

test: ensure remove customer and return correct values
  tests/data/stubs/repositories/customer.ts
  tests/data/use-cases/customer/db-remove.spec.ts
  tests/infra/repositories/knex/customer.spec.ts
  tests/main/routes/customer.test.ts
  tests/presentation/controllers/customer/remove.spec.ts
  tests/presentation/stubs/use-cases/customer.ts
Due: eslint --fix

feat: ensure show customer and return correct values
  src/data/use-cases/customer/db-show.ts
  src/data/use-cases/index.ts
  src/domain/use-cases/customer/show.ts
  src/domain/use-cases/index.ts
  src/main/factories/controllers/customer/show.ts
  src/main/factories/controllers/index.ts
  src/main/factories/use-cases/customer/show.ts
  src/main/factories/use-cases/index.ts
  src/main/routes/customer.ts
  src/presentation/controllers/customer/show.ts
  src/presentation/controllers/index.ts
  src/presentation/dtos/customer/show.ts
  src/presentation/dtos/index.ts
Due: eslint --fix

test: ensure show customer and return correct values
  README.md
  tests/data/use-cases/customer/db-show.spec.ts
  tests/main/routes/customer.test.ts
  tests/presentation/controllers/customer/show.spec.ts
  tests/presentation/stubs/use-cases/customer.ts
Due: eslint --fix, prettier --write

refactor: remove Partial when not necessary
  src/data/use-cases/customer/db-remove.ts
  src/data/use-cases/customer/db-show.ts
  src/data/use-cases/customer/db-update.ts
  src/domain/use-cases/customer/update.ts
  src/infra/repositories/knex/customer.ts
  src/main/factories/use-cases/customer/remove.ts
  src/main/factories/use-cases/customer/update.ts
Due: eslint --fix

feat: ensure list customer and return correct values
  src/data/use-cases/customer/db-list.ts
  src/data/use-cases/index.ts
  src/domain/use-cases/customer/list.ts
  src/domain/use-cases/index.ts
  src/main/factories/controllers/customer/list.ts
  src/main/factories/controllers/index.ts
  src/main/factories/use-cases/customer/list.ts
  src/main/factories/use-cases/index.ts
  src/main/routes/customer.ts
  src/presentation/controllers/customer/list.ts
  src/presentation/controllers/index.ts
  src/presentation/dtos/customer/list.ts
  src/presentation/dtos/index.ts
Due: eslint --fix

feat: ensure not throw if is not informed a value
  src/infra/services/validator.ts
Due: eslint --fix

test: ensure not throw if is not informed a value
  tests/data/stubs/services/validator.ts
  tests/infra/services/validator.spec.ts
Due: eslint --fix

feat: ensure pass query parms
  README.md
  src/main/adapters/express-route-adapter.ts
Due: eslint --fix, prettier --write

test: ensure pass query parms
  tests/main/adapters/express-route-adapter.test.ts
Due: eslint --fix

test: ensure list customer and return correct values
  tests/data/use-cases/customer/db-list.spec.ts
  tests/main/routes/customer.test.ts
  tests/presentation/controllers/customer/list.spec.ts
  tests/presentation/stubs/use-cases/customer.ts
Due: eslint --fix

feat: ensure validate number, min and max for list page and perPage
  src/data/constants/index.ts
  src/data/constants/list.ts
  src/data/contracts/services/validator.ts
  src/data/use-cases/customer/db-list.ts
  src/domain/use-cases/customer/list.ts
  src/infra/services/validator.ts
Due: eslint --fix

test: ensure validate number, min and max for list page and perPage
  README.md
  tests/data/stubs/services/validator.ts
  tests/data/use-cases/customer/db-list.spec.ts
  tests/infra/services/validator.spec.ts
  todos.md
Due: eslint --fix, prettier --write

feat: ensure call list repository instead of findBy
  src/data/constants/list.ts
  src/data/contracts/repositories/customer/list.ts
  src/data/contracts/repositories/index.ts
  src/data/use-cases/customer/db-list.ts
  src/infra/repositories/knex/base.ts
  src/infra/repositories/knex/customer.ts
  src/infra/services/validator.ts
Due: eslint --fix

test: ensure call list repository instead of findBy
  tests/data/stubs/repositories/customer.ts
  tests/data/stubs/services/validator.ts
  tests/data/use-cases/customer/db-create.spec.ts
  tests/data/use-cases/customer/db-list.spec.ts
  tests/data/use-cases/customer/db-remove.spec.ts
  tests/data/use-cases/customer/db-show.spec.ts
  tests/data/use-cases/customer/db-update.spec.ts
  tests/infra/repositories/knex/base.spec.ts
  tests/infra/stubs/knex.ts
Due: eslint --fix

feat: ensure sanitize page and perPage
  README.md
  src/presentation/controllers/customer/list.ts
  src/presentation/dtos/customer/list.ts
Due: eslint --fix, prettier --write

test: ensure sanitize page and perPage
  tests/presentation/controllers/customer/list.spec.ts
Due: eslint --fix

refactor: move page and perPage sanitizer to usecase
  README.md
  src/data/use-cases/customer/db-list.ts
  src/infra/services/validator.ts
  src/presentation/controllers/customer/list.ts
  src/presentation/dtos/customer/list.ts
  tests/data/stubs/services/validator.ts
  tests/data/use-cases/customer/db-list.spec.ts
  tests/infra/services/validator.spec.ts
  tests/presentation/controllers/customer/list.spec.ts
Due: eslint --fix, prettier --write

feat: ensure orderBy and order list
  README.md
  src/data/contracts/repositories/customer/list.ts
  src/data/contracts/services/validator.ts
  src/data/use-cases/customer/db-list.ts
  src/domain/use-cases/customer/list.ts
  src/infra/repositories/knex/base.ts
  src/infra/services/validator.ts
Due: eslint --fix, prettier --write

test: ensure orderBy and order list
  tests/data/stubs/services/validator.ts
  tests/data/use-cases/customer/db-list.spec.ts
  tests/infra/repositories/knex/base.spec.ts
  tests/infra/services/validator.spec.ts
  tests/infra/stubs/knex.ts
  tests/main/routes/customer.test.ts
Due: eslint --fix

refactor: remove unnecessary optional chaining and logs
  src/infra/repositories/knex/base.ts
  tests/main/routes/customer.test.ts
Due: eslint --fix

feat: ensure setup not found route when necessary
  README.md
  src/main/config/app.ts
  src/main/config/routes.ts
  src/presentation/helpers/http-helper.ts
Due: eslint --fix, prettier --write

test: ensure setup not found route when necessary
  tests/main/config/app.test.ts
  tests/main/config/routes.test.ts
  tests/main/middlewares/body-parser.test.ts
  tests/main/routes/not-found.test.ts
  tests/presentation/helpers/http-helper.spec.ts
Due: eslint --fix

feat: ensure make one query instead of multiple
  README.md
  src/data/contracts/repositories/customer/find-by.ts
  src/data/use-cases/customer/db-create.ts
  src/data/use-cases/customer/db-list.ts
  src/data/use-cases/customer/db-remove.ts
  src/data/use-cases/customer/db-show.ts
  src/data/use-cases/customer/db-update.ts
  src/infra/repositories/knex/base.ts
  src/infra/repositories/knex/customer.ts
Due: eslint --fix, prettier --write

test: ensure make one query instead of multiple
  tests/data/stubs/repositories/customer.ts
  tests/data/use-cases/customer/db-create.spec.ts
  tests/data/use-cases/customer/db-list.spec.ts
  tests/data/use-cases/customer/db-remove.spec.ts
  tests/data/use-cases/customer/db-show.spec.ts
  tests/data/use-cases/customer/db-update.spec.ts
  tests/infra/repositories/knex/customer.spec.ts
Due: eslint --fix

test: ensure make all user crud and return correct values
  tests/data/stubs/repositories/index.ts
  tests/data/stubs/repositories/user.ts
  tests/data/stubs/services/validator.ts
  tests/data/use-cases/customer/db-create.spec.ts
  tests/data/use-cases/customer/db-remove.spec.ts
  tests/data/use-cases/user/db-create.spec.ts
  tests/data/use-cases/user/db-list.spec.ts
  tests/data/use-cases/user/db-remove.spec.ts
  tests/data/use-cases/user/db-show.spec.ts
  tests/data/use-cases/user/db-update.spec.ts
  tests/domain/mocks/models/index.ts
  tests/domain/mocks/models/user.ts
  tests/infra/repositories/knex/user.spec.ts
  tests/infra/services/validator.spec.ts
  tests/main/routes/user.test.ts
  tests/presentation/controllers/user/create.spec.ts
  tests/presentation/controllers/user/list.spec.ts
  tests/presentation/controllers/user/remove.spec.ts
  tests/presentation/controllers/user/show.spec.ts
  tests/presentation/controllers/user/update.spec.ts
  tests/presentation/stubs/use-cases/index.ts
  tests/presentation/stubs/use-cases/user.ts
Due: eslint --fix

chore: remove db alias
  jest.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: remove pre knex script
  package.json
Due: prettier --write

chore: add bcrypt and her type
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{json,yml,md}
